QMainWindow {
    background: #eaeaea;
}
QPushButton {
    border: 1px groove #999;
    background: #cecece;
    padding: 3px 10px;
}
QPushButton:hover {
    background: #bdbdbd;
}
QLabel {
    color: #444;
}
QCheckBox {
    color: #555;
}
QSpinBox {
    background: #ccc;
    border-radius: 5px;
}
QSpinBox::up-button,
QSpinBox::down-button {
border-radius: 5px;
    background: #ddd;
    border-width: 1px;
}
QSpinBox::up-button {
border-bottom-right-radius: none;
}
QSpinBox::down-button {
    border-top-right-radius: none;
}
QSpinBox::up-button:hover,
QSpinBox::down-button:hover{
    background: #ccc;
}
QSpinBox::up-button:pressed,
QSpinBox::down-button:pressed {
    background: #999;
}

QSpinBox::up-arrow {
    image: url(:/images/up_arrow.png);
    width: 7px;
    height: 7px;
}
QSpinBox::down-arrow {
    image: url(:/images/down_arrow.png);
    width: 7px;
    height: 7px;
}
